body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.topo{
    display: flex;
    padding: 20px 10%;
}
.topo img{
    display: inline-block;
}
.topo span{
    display: inline-block;

    align-self: center;

    margin-left: auto;
}

#capa{
    background-color: rgb(230, 230, 230);
}
#capa img{
    width: 80%;

    margin: 0px 10%;
}

.corpo{
    padding: 0px 10%;
}
.corpo div{
    text-align: center;

    margin-top: 50px;
}
.corpo input{
    resize: both;
}